{% extends "base.html" %}

{% block content %}
<div class="banner">
    <h1>Welcome - Phoenix IO</h1><br>
    <hr>
</div>

<article>
    <h3>Where am I?</h3>
    <br>
    <p><b>The nest of the Phoenix of course!</b><br>
    Oh, yeah that's not very informative. Phoenix IO is a project that I began myself in March of 2020. The idea came to me one morning as I scrolled through endless headlines, all of them either trying to make some sense out of the COVID-19 crisis, provide some distraction from it, or somewhere in between.
    <br>
    I'm typically the opposite of paranoid. I believe that if you're going to channel your own life and energy into a problem or something you feel is a threat to you, then it should all go towards <strong><i>solution oriented</i></strong> thoughts, behaviors, and actions.
    <br>
    Just because I'm not paranoid however, does not mean I lack <i>awareness</i>. As a developer, information hoarder, and leisurely watcher of all things joyous or not, I saw what was coming as soon as the signs were there.
    <br>
    And I saw that it was coming not because I watched the media, or read all the news articles. It was because I actually <i>ignored</i> all of that and focused my attention on the most empirically sourced data before allowing myself exposure to external opinions, biases, and assumptions.
    <br>
    Well this is a powerful approach to staying informed and empowered. Take control of your exposure to information, <strong>you</strong> are the one who your instincts and intuition can speak to. <strong>You</strong> are the only one who can listen.</p>

    <br>
    <hr>
    <p>The intention here is (as I sit here, coding this web application in its infancy), to create a place where like minded individuals will hopefully end up and assimilate. There's alot I can and am going to do to ensure that the flame of humanity flickers on (if even atleast for a few) and it is here where you can either help, learn, or otherwise hope.</p>
</article>

<div>
    <h3>Interested? Still confused?</h3>
    <p>I implore you, take a look around and <a href="{{ url_for('designs') }}">learn of my designs</a></p>
    <hr>
</div>

{% endblock %}
